$primary-color: #ef5a60;
$Secondary_color: #082942;
$text-gray: #8d8b8b;
$bg-color-home: #e2eef8;
$peo-color: #ffff;
$text-gray-secondary: #5e5f60;
$bg-page-color: #f8f8f8;
$footer-bg: #012b4c;
$calendar-reservation: $Secondary_color;
$calendar-blocked: $primary-color;
$calendar-maintains: #ffae00;
$calendar-discount: #1eb200;


/* responsive breakpoint*/
$responsive-tablet: 992px;
$largeScreen-breakpoint: 1600px;

/* inner container width */
$forLargeScreen-inner-container: 78%;
