.btn-confirm-location {
  margin-top: 10px;
}

.ipt-location {
  display: flex;
  justify-content: center;
}

.gmnoprint,
.gm-control-active {
  display: none !important;
}

.btn-confirm-location:hover {
  color: white !important;
}
